#header {
  height: 50px;
  background: rgb(76, 0, 128);
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color:rgb(76, 0, 128);
}

div.breadcrumbs {
  background: rgb(203, 10, 16);
  color: rgb(76, 0, 128);
}

div.breadcrumbs a {
  color: #333;
}

.module h2, .module caption, .inline-group h2 {
  background: rgb(203, 10, 16);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: rgb(76, 0, 128);
  color: #fff;
}